.popup__button {
  width: 358px;
  height: 50px;
  background-color: #000;
  border-radius: 2px;
  margin: 48px 0 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  opacity: 1;
  transition: border 0.3s, color 0.3s, opacity 0.3s ease;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
}

.popup__button:focus {
  opacity: 0.8;
}

@media screen and (max-width: 545px) {
  .popup__button {
    width: 238px;
    height: 46px;
    margin: 40px auto 0;
    font-size: 14px;
    line-height: 17px;
  }
}
