.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  max-width: 336px;
  margin: 0;
  margin-top: 16px;
  padding-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1030px) {
  .profile__description {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    padding: 0;
  }
}

@media screen and (max-width: 420px) {
  .profile__description {
    max-width: 282px;
    padding: 0;
    
  }
}
