.form__header {
  width: 358px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0 0 24px;
  color: #000;
}

@media screen and (max-width: 500px) {
  .form__header {
    width: 238px;
    font-size: 18px;
  }
}
