.form__header {
  width: 330px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0 0 45px;
  color: #000;
}

@media screen and (max-width: 545px) {
  .form__header {
    width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 70px;
  }
}
