.profile__edit-profile {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Vector.svg);
  align-self: center;
  background-color: #000;
  border: solid 1px #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 1;
  transform: opacity .3s ease;
}

.profile__edit-profile:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1030px) {
  .profile__edit-profile {
    width: 18px;
    height: 18px;
  }
}
